div#content div.user-box{
    min-width:1000px;
    width:100%
    background:white;
    background-color:white;
    border : 5px solid #FBA6B2;
}

div#content div.user-box div.titleArea{
    position: relative;
    height:auto;
    min-height:30px;
    margin: 0px auto 0px;
    padding : 50px 2% 50px;
}
div#content div.user-box div.titleArea h2{
    display: inline-block;
    margin: 0px;
    color: #000;

    *zoom: 1;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: 3px solid #000;
    padding: 3px;
    letter-spacing: 1px;
}

div#content div.user-box div.login{
    padding: 0px;
    margin-bottom : 30px;
    color : #000;
}


div#content div.user-box div.login fieldset{
    width: 380px;
    margin: 0 auto;
    position: relative;
    border: none;
    vertical-align: top;
    display: block;
    min-inline-size: min-content;
/*    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;*/
}

div#content div.user-box div.login fieldset input#member_password{
    margin-top:25px;
}

div#content div.user-box div.login fieldset legend{
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
}
div#content div.user-box div.login fieldset span.id01{
    font-size:0.75em;
    position: absolute;
    left: 0px;
}

div#content div.user-box div.login fieldset span.id02{
    font-size:0.75em;
    position: absolute;
    top: 50px;
    left: 0px;
}

label{
    cursor: default;
}

input[type=text]{
    font-size:12px;
}

.ePlaceholder{
    overflow: hidden;
    display: block;
    width: 330px;
    margin: 0 0 2px 0px;
    padding-left: 45px;
    border-bottom: 2px solid #000;
    border-radius: 2px;
    color: #000;
}

.login_button a{

    background: none;
    margin: 5px 3px;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px 10px;
    border: 1px solid #000;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 600;
    font-size:0.75em;
    text-align: center;
    color: #000;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}