hr.black-hr{
    border: solid 1px #000;
}
hr.gray-hr{
    border: solid 1px #A6A6A6;
}

.buy_button{
    background: none;
    float:right;
    margin: 15px 3px 15px;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px 10px;
    border: 2px solid black;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 600;
    font-size:0.75em;
    text-align: center;
    color: #000;
}

.buy_button2{
    background: none;
    float:right;
    margin: 15px 3px 25px;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px 10px;
    border: 2px solid black;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 600;
    font-size:0.75em;
    text-align: center;
    color: #000;
}

div#content div.user-box {
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    background: white;
    background-color: white;
    border: 5px solid #FBA6B2;

    font-family: "Noto Sans KR",Dotum;
    color: #000;
    font-size: 0.75em;
}

div.order-box{
    padding-bottom:20px;
}

div#content div.user-box div.titleArea {

}

div#content div.user-box div.titleArea h2 {
    display: inline-block;
    margin: 0px;
    color: #000;
    *zoom: 1;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: 3px solid #000;
    padding: 3px;
    letter-spacing: 1px;
}

.join_button{
    background: none;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px 10px;
    margin-left:90%;
    border: 2px solid black;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 600;
    font-size:0.75em;
    text-align: center;
    color: #000;
}

div.user-box div.user-box1 {
    position: relative;
    height: auto;
    min-height: 30px;
    margin: 0px auto 0px;
    padding: 30px 2% 50px;
}


div.cart-list{

}

div.cart-list table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    position: relative;
    margin: 10px 0 0;
    border: 1px solid #444;
    border-top-color: #444;
    color: #000;
    line-height: 1.5;
}

table .img{
    width:200px;
}
table .name{
    width:150px;
}
table .etc{
    width:100px;
}


div.cart-list table thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

div.cart-list table thead tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

div.cart-list table thead tr th{
    padding: 11px 0 10px;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    color: #000;
    vertical-align: middle;
    font-weight: normal;
    display: table-cell;
}

div.cart-list table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

div.cart-list table tbody td{
    border: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 8px 10px 7px;
    padding: 11px 10px 10px;
    border-top: 1px solid #444;
    color: #000;
    vertical-align: middle;
    display: table-cell;
}