hr.black-hr{
    border: solid 1px #000;
}

div#content div.user-box {
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    background: white;
    background-color: white;
    border: 5px solid #FBA6B2;
}

div#content div.user-box div.titleArea {

}

div#content div.user-box div.titleArea h2 {
    display: inline-block;
    margin: 0px;
    color: #000;
    *zoom: 1;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: 3px solid #000;
    padding: 3px;
    letter-spacing: 1px;
}

.join_button{
    background: none;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px 10px;
    margin-left:90%;
    border: 2px solid black;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 600;
    font-size:0.75em;
    text-align: center;
    color: #000;
}

div.user-box div.user-box1 {
    position: relative;
    height: auto;
    min-height: 30px;
    margin: 0px auto 0px;
    padding: 30px 2% 50px;
}

div.user-box div.join-table {
    margin-top: 2px;
}

div.user-box div.join-table table {
    margin: 30px 0 0;
    border: 1px solid #444;
    border-top-color: #444;
    color: #000;
    line-height: 1.5;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: middle;
    border-color: inherit;
}

div.user-box div.join-table table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

div.user-box div.join-table table tr th {
width:20%;
    padding: 11px 0 10px 18px;
    border: 1px solid #444;
    border-bottom-width: 0;
    color: #000;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    display: table-cell;
    font-size: 0.75em;

}

div.user-box div.join-table table tr th img {
    border: none;
    vertical-align: top;
    vertical-align: middle;
}

div.user-box div.join-table table tr td {
    padding: 10px;
    border-top: 1px solid #444;
    color: #000;
    vertical-align: middle;
    font-size: 0.75em;
}

div.user-box div.join-table table tr td input{
width:80%;
    height: 18px;
    line-height: 20px;
    padding: 2px 4px;
    border: 1px solid #d5d5d5;
    color: #000;
    font-size: 12px;
}