{% extends "super/base.html" %}
{% block title %}login.html{% endblock %}

{% load staticfiles %}
  <link href="{% static 'super/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{% static 'super/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/super/login.css' %}" rel="stylesheet">
  <script src="{% static 'super/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'super/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'super/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'super/js/sb-admin-2.min.js' %}"></script>

{% block content %}
<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user" action="." method="post">{% csrf_token %}
                      <input type="text" id="member_id" >
                      <input type="password" id="member_password">
                    <input type="submit" value="Login"/>

                  </form>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>
{% endblock content %}
