{% extends "base.html" %}
{% block title %}productDetail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}
{% static "css/product/detail.css" %}
{% endblock %}
{% block content %}

<div id="content">

    <div class="user-box">
        <div class="product-detail">
            <div class="detailArea">
                <div class="product-image imgArea">
                    <img src="{{ product.image_url }}" class="BigImage">
                </div>

                <div class="infoArea">
                    <table border="1" summary>
                        <tbody>
                        <tr class="record">
                            <td class="name" colspan="2">
                                <p class="name">{{ product.name }}</p>
                            </td>
                        </tr>

                        <tr class="record">
                            <th scope="row">
                                <p>가격</p>
                            </th>
                            <td>
                                <p>{{ product.price }} </p>
                            </td>
                        </tr>

                        {% if product.is_option %}

                            {% for option in product.product_options %}
                                <tr class="record">
                                    <th scope="row">
                                        <p>{{ option.name }}</p>
                                    </th>
                                    <td>
                                        <select name="{{ option.pk }}">
                                            {% for option_detail in option.option_details %}
                                                <option value="{{ option_detail.pk }}">{{ option_detail.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="record">
                                <th scope="row">
                                    <p></p>
                                </th>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>

                    <div class="product-order-list">
                        <input type="button" id="btn-buy" value="구매하기"/>
                        <input type="button" id="btn-cart" value="장바구니 추가"/>
                    </div>


                </div>
            </div>

            <div id="productDetail">
                <p class="file_url" align="center">
                    <img vsapce="0" hspace="5" src="{{ product.file_url }}">
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascript %}
{% static "script/user/cart.js" %}
{% endblock %}