{% extends "base.html" %}
{% block title %}login.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}
{% static "css/user/cart.css" %}
{% endblock %}
{% block content %}

<div id="content">

    <div class="user-box">

        <div class="user-box1">
            <div class="titleArea">
                <h2>CART</h2>
            </div>
            <hr class="black-hr"/>
            <div class="cart-list">
                <table border="1">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">이미지</th>
                            <th scope="col">상품 정보</th>
                            <th scope="col">가격</th>
                            <th scope="col">수량</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% load custom_tags %}
                            {% for cart in carts|unsort_by:'pk' %}
                            <tr>
                                <th><input type="checkbox"/></th>
                                <td><img style="width:100px; height:auto;" src="{{ cart.product.image_url }}"></td>
                                <td>{{ cart.product.name }}</td>
                                <td>{{ cart.product.price }}</td>
                                <td>{{ cart.amount }}</td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block extrascript %}
{% endblock %}