{% extends "base.html" %}
{% block title %}login.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}
    {% static "css/user/join.css" %}
{% endblock %}
{% block content %}

    <div id="content">
        <div class="user-box">
            <div class="join-box">
                <div class="titleArea">
                    <h2>JOIN</h2>
                </div>
                <form action="." method="post">{% csrf_token %}
                    <div class="join-table">
                        <table border="1" summary>
                            <tr>
                                <th scope="row">
                                    아이디
                                    <img src="{% static 'img/required.gif' %}">
                                </th>
                                <td>
                                    <input id="member_id" name="member_id">
                                    <span id="idMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    비밀번호
                                    <img src="{% static 'img/required.gif' %}">
                                </th>
                                <td>
                                    <input id="member_id" name="member_id">
                                    <span id="idMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    비밀번호 확인
                                    <img src="{% static 'img/required.gif' %}">
                                </th>
                                <td>
                                    <input id="member_id" name="member_id">
                                    <span id="idMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    이름
                                    <img src="{% static 'img/required.gif' %}">
                                </th>
                                <td>
                                    <input id="member_id" name="member_id">
                                    <span id="idMsg"></span>
                                </td>
                            </tr>                            <tr>
                                <th scope="row">
                                    휴대전화
                                </th>
                                <td>
                                    <input id="member_id" name="member_id">
                                    <span id="idMsg"></span>
                                </td>
                            </tr>                            <tr>
                                <th scope="row">
                                    이메일
                                    <img src="{% static 'img/required.gif' %}">
                                </th>
                                <td>
                                    <input id="member_id" name="member_id">
                                    <span id="idMsg"></span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block extrascript %}
{% endblock %}