{% extends "base.html" %}
{% block title %}login.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}
{% static "css/user/join.css" %}
{% endblock %}
{% block content %}

<div id="content">
    <div class="user-box">
        <div class="user-box1">
            <div class="titleArea">
                <h2>JOIN</h2>
            </div>
            <hr class="black-hr"/>
            <form action="." method="post">{% csrf_token %}
                <div class="join-table">
                    <table border="1" summary>
                        <tr>
                            <th scope="row">
                                아이디
                                <img src="{% static 'img/required.gif' %}">
                            </th>
                            <td>
                                <input id="user_id" name="user_id" placeholder="5자리 이상">
                                <span id="idMsg"></span>
                            </td>
                            <td>
                                <input type="button" id="btn-id" value="아이디 체크" class="idcheck_button">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                비밀번호
                                <img src="{% static 'img/required.gif' %}">
                            </th>
                            <td>
                                <input type="password" id="password" name="password" placeholder="10자리 이상"
                                       autocomplete="new-password">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                비밀번호 확인
                                <img src="{% static 'img/required.gif' %}">
                            </th>
                            <td>
                                <input type="password" id="password_fonfirm" name="password_fonfirm">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                이름
                                <img src="{% static 'img/required.gif' %}">
                            </th>
                            <td>
                                <input id="username" name="username">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                휴대전화
                            </th>
                            <td>
                                <input id="phone" name="phone" placeholder="-없이 숫자만 입력해 주세요.">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                이메일
                            </th>
                            <td>
                                <input type="email" id="email" name="email">
                            </td>
                            <td></td>
                        </tr>

                    </table>
                </div>
                <input type="submit" value="회원가입" class="join_button"/>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block extrascript %}
{% static "script/user/join.js" %}
{% endblock %}