{% extends "base.html" %}
{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}
{% static "css/login.css" %}
{% endblock %}
{% block content %}
<div id="content">

    <v-content>
        <div class="user-box">
            <div class="titleArea">
                <h2>login</h2>
            </div>
            <div class="login">
                <fieldset>
                    <legend>회원로그인</legend>
                    <span class="id01">ID</span>
                    <label class="id ePlaceholder">
                        <input id="member_id" name="member_id" type="text">
                    </label>

                    <span class="id02">PASS</span>
                    <label class="password password ePlaceholder">
                        <input id="member_password" name="member_password" type="text">
                    </label>

                    <span class="login_button">
                        <a href="#">로그인</a>
                    </span>
                    <span class="login_button">
                        <a href="#">회원가입</a>
                    </span>

                    <hr>
                </fieldset>
            </div>
        </div>
    </v-content>
</div>
{% endblock content %}

{% block extrascript %}
{% static "script/home.js" %}
{% endblock %}