{% extends "base.html" %}
{% block title %}myorder.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}
{% static "css/user/cart.css" %}
{% endblock %}
{% block content %}

<div id="content">

    <div class="user-box order-box">

        <div class="user-box1">
            <div class="titleArea">
                <h2>ORDER</h2>
            </div>
            <hr class="black-hr"/>
            <div class="cart-list">
                <table>
                    <thead>
                    <tr>
                        <th class="img">이미지</th>
                        <th class="name">상품명</th>
                        <th class="etc">가격</th>
                        <th class="etc">수량</th>
                        <th class="etc">총 가격</th>
                    </tr>
                    </thead>
                </table>
                {% load custom_tags %}
                {% for order in orders|unsort_by:'pk' %}
                <table class="order">
                    <p> {{ order.date  }}</p>
                    {% for product in order.order_products %}
                    <tr>
                        <td class="img"><img style="width:100px; height:auto;" src="{{ product.product.image_url }}">
                        </td>
                        <td class="name">{{ product.product.name }}</td>
                        <td class="etc">{{ product.product.price }}</td>
                        <td class="etc">{{ product.amount }}</td>
                        <td class="etc">{{ product.all_price }}</td>
                    </tr>
                    {% endfor %}

                </table>

                <hr class="gray-hr"/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block extrascript %}
{% endblock %}