<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% load static %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='{% static "script/jquery.min.js" %}'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% block extrastyle %}{% endblock %}'/>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src='{% block extrascript %}{% endblock %}'></script>

</head>
<body style="background-color: #FFDBE5;">
<div id="wrapper">
    <div class="slide_01" style="left:-485px; display:block;"></div>

    <div id="wrap">
        <div class="logo_top01" id="header">

            <div class="member-bar">
                <ul>
                    {% if request.session.authuser is None %}
                        <li><a href="{% url 'user:login' %}">login</a></li>
                        <li><a href="{% url 'user:join' %}">join</a></li>
                    {% else %}
                        <li><a href="">{{ request.session.authuser.name }}님!</a></li>
                        <li><a href="{% url 'user:logout' %}">logout</a></li>
                    {% endif %}
                    <li><a href="{% url 'user:cart'  %}">cart</a></li>
                    <li><a href="">order</a></li>

                </ul>
            </div>

            <div class="search-bar">
                <fieldset>
                    <input id="keyword" name="keyword" type="text">
                    <img src="{% static 'img/search.gif' %}">
                </fieldset>
            </div>

            <div class="logo_top01-1">
                <h1 class="logo_text"><a href="{% url 'home' %}">{{ shop_name }}</a></h1>
                <div class="nav tabs">
                    {% load custom_tags %}
                    {% for category in categorys|sort_by:'priority' %}
                    {% if category.parent == None %}
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'category' category.pk %}">{{ category.name }}</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


        {% block content%}{% endblock %}
<!--        {% block footer %}{% endblock %}-->
    </div>
</div>

<script src='{% static "script/super/product-add.js" %}'>
</script>
</body>
</html>