<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/vuetify.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% block extrastyle %}{% endblock %}'/>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <script src='{% static "script/vue.js" %}'></script>
    <script src='{% static "script/vuetify.js" %}'></script>
    <script src='{% block extrascript %}{% endblock %}'></script>

</head>
<body>
<div id="wrapper">
    <div class="slide_01" style="left:-485px; display:block;"></div>

    <div id="wrap">
        <div class="logo_top01" id="header">
            <v-app class="logo_top01-1">
                <h1 class="logo_text">awesome shop</h1>

                <div class="tabs">
                    <template>
                    <v-tabs v-model="tab" background-color="#1ecfff" centered>
                        <v-tab
                            v-for="category in categorys"
                            :key="category">
                            {{ category }}
                        </v-tab>
                        <v-tab>아우터</v-tab>
<!--                        <v-tab>상의</v-tab>-->
<!--                        <v-tab>블라우스</v-tab>-->
<!--                        <v-tab>드레스</v-tab>-->
<!--                        <v-tab>바지</v-tab>-->
<!--                        <v-tab>치마</v-tab>-->
<!--                        <v-tab>가방&신발</v-tab>-->
                    </v-tabs>
                    </template>
                </div>
            </v-app>
        </div>


        {% block content%}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
</div>

<script src='{% static "script/base.js" %}'>
</script>
</body>
</html>