{% extends "base.html" %}
{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block content %}
<div id="content">
    <v-content>

        <!-- Provides the application the proper gutter -->
        <v-container grid-list-md class="mt-10">
            <v-layout wrap>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs3>
                    <v-card>
                        <v-img src="http://mblogthumb2.phinf.naver.net/20160813_161/h8275818_1471094359995y2Yww_JPEG/1471093945126.jpg?type=w800"></v-img>
                        <v-card-title>상품</v-card-title>
                        <v-card-text>10000원</v-card-text>
                    </v-card>
                </v-flex>

            </v-layout>
        </v-container>
    </v-content>
</div>

{% endblock content%}

{% block extrascript %}
{% static "script/home.js" %}
{% endblock %}