.sidebar-nav{
    margin:20px 20px;
    padding:0;
    list-style:none;
}
div.home{
    text-align:center;
    margin-top:30px;
    margin-right:500px;
}
h1.logo_text a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    align:center;
}

div.home p{
    font-weight:bold;
}

div.home img{
    width:300px;
    height:auto;
}

div.home input[type="button"]{
        float:right;
    display: inline-block;
    background: none;
    margin: 100px;
    overflow: hidden;
    padding: 10px 20px 10px;
    border: 2px solid black;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 600;
    font-size:0.75em;
    text-align: center;
    color: #000;
}